@import url('https://fonts.googleapis.com/css?family=Space+Mono');
#colorTextMenu ul > li > a{
	color: blue;
	font-family: 'Space Mono', monospace;
	font-size: 16px;
}
h4 {
	font-weight: bold;
	font-family: 'Space Mono', monospace;
	background-color: grey;
	color: #fff;
	 opacity: 0.8;
}
h1 {
	font-weight: bold;
	font-family: 'Space Mono', monospace;
	
}
label{
	font-weight: bold;
	font-size: 14px;
	font-family: 'Space Mono', monospace;
}
span{
	font-family: 'Space Mono', monospace;
}


#navigasi ul > li > a{
	color:black;
	font-weight: bold;
	font-family: 'Space Mono', monospace;
}